@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

:root {
  /* Global Colors */
  /* First Option */
  --eggplant: #370325;
  --darkblue: #111b35;
  --cadet: #5ebbbb;
  --orange: #d69245;
  --yellow: #DFCC74;
  --green: #c5f08e;
  --first: #3F3B6C;
  --second: #624F82;
  --third: #A267AC;
  --fourth: #b0ddef;
  --thirdone: #210135;
  --darkerpurple: #190228;
  --thirdtwo: #570A57;
  --thirdthree: #A91079;
  --thirdfour: #F806CC;

/* Link transition */
  --transition: all 400ms ease;

  /* Containers - Media queries */
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--thirdone);
  color: white;
  background-image: url(./assets/pixel-texture.png);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 6rem;
}

a {
  color: var(--third);
  transition: var(--transition);
}

a:hover {
  color: var(--thirdfour);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--fourth);
  padding: 0.75rem 1.2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--cadet);
  transition: var(--transition);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--fourth);
  color: var(--thirdfour);
}

.btn-primary {
  background: linear-gradient(var(--orange), var(--thirdthree));
  color: var(--yellow);
  border: 2px solid var(--thirdthree);
}

.btn-primary:hover {
  color: white;
  background: linear-gradient(var(--thirdthree), var(--orange));
}

/* img {
  display: block;
  width: 100%;
  object-fit: cover;
} */


/*      NAVBAR BEGIN       */
.navbar {
  margin: 5rem 2rem 2rem 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: fixed;
  font-size: 20px;
}
/*      NAVBAR END       */


/*      HEADER BEGIN       */
header {
  height: 50vh;
  padding-top: 5rem;
  overflow: hidden;
}
.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}
/*      HEADER END       */


/*      ABOUT BEGIN       */
.about {
  margin: 2rem 8rem;
}
.bio-area {
  display: -ms-flexbox;
  flex-direction: row;
}
.photo-box {
  width: 55%;
  max-width: 700px;
  height: 20rem;
  outline: 1.6rem solid var(--third);
  outline-offset: 0 -10rem;
  /* border: 1.8rem solid var(--third); */
}
.me-photo {
  width: 40%;
  height: auto;
  position: absolute;
  padding-top: 1.8rem;
  padding-left: 1.8rem;
}
.about-text {
  text-align: left;
}
.cta {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* MEDIA QUERIES for ABOUT */
@media screen and (max-width: 1024px) { 
  .about {
      background-color: red;
  } 
}
@media screen and (max-width: 600px) { 
  .about {
      background-color: blue;
      display: flexbox;
      flex-direction: column;
  }  
  .photo-box {
      width: 300px;
      max-width: 400px;
      height: 20rem;
      outline: 1.6rem solid var(--third);
      outline-offset: 0 -10rem;
      /* border: 1.8rem solid var(--third); */
  }
}
/*      ABOUT END       */


/* EXPERIENCE BEGIN */
.experience {
  margin: 2rem 8rem;
}
/* EXPERIENCE END */


/*      PORTFOLIO BEGIN       */
.portfolio {
  margin: 2rem 8rem;
}
/*      PORTFOLIO END       */


/* CONTACT BEGIN */
.contact {
  position: relative;
  margin: 2rem 8rem;
}
/* CONTACT END */


/* FOOTER BEGIN */
.footer {
  min-height: 2rem;
  background-color: var(--darkerpurple);
  color: var(--fourth);
  text-align: center;
  padding: 1rem;
  justify-content: center;
}
.social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.social-media a {
  color: var(--fourth);
  font-size: 20px;
}

.social-media a:hover {
  color: var(--thirdfour);
}
/* FOOTER END */




/*  //////  Media Queries  //////  */

/*    LARGE SCREEN    */
@media screen and (max-width:1024px) {
  .container{
    width: var(--container-width-md);
  }

  section {
    margin-top: 5rem;
  }
}

/*    SMALL SCREEN    */
@media screen and (max-width:600px) {
  .container{
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}